<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>{% block title 'MyProject' %}</title>

        {% block stylesheets %}
            {% for stylesheet in stylesheets %}
                <link href="{{ asset( 'bundles/app/' ~ stylesheet ) }}" rel="stylesheet">
            {% endfor %}
        {% endblock stylesheets %}
    </head>
    <body class="notransition no-hidden">
    {% block body %}

    {% endblock body %}

    {% block javascripts %}
        {% for javascript in javascripts %}
            <script src="{{ asset('bundles/app/' ~ javascript) }}" type="text/javascript"></script>
        {% endfor %}
    {% endblock javascripts %}
    </body>
</html>
